docs/help/*.html text eol=lf
docs/help/*.css text eol=lf
src/powers_tool_cli/help/*.html text eol=lf
src/powers_tool_cli/help/*.css text eol=lf
src/powers_tool_webui/static/help/*.html text eol=lf
src/powers_tool_webui/static/help/*.css text eol=lf
